@import "../../../styles/main.scss";
.text-sub-heading-text {
  font-family: $lato-light;
  font-size: $size-3;
  line-height: 2rem;
}

.text-inline {
  display: inline;
}

.text-section-heading {
  font-family: $work-sans-semi-bold;
  font-size: $size-5;
  color: $dark-grey;
}

.text-bold-heading {
  font-family: $lato-bold;
  font-size: $size-6;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.text-title {
  font-family: $lato-bold;
  font-size: $size-2;
  font-weight: bold;
}

.text-sub-title {
  font-family: $lato-italic;
  font-size: $size-1;
  color: $primary-green;
  font-style: italic;
  margin: 0;
}

.text-regular {
  font-family: $lato-regular;
  font-size: $size-1;
  color: $light-grey;
  line-height: 1.7rem;
}

.text-highlight {
  font-size: $size-6;
  font-family: $work-sans-regular;
  color: $primary-green;
}

.text-subtext {
  font-size: $size-1;
  font-family: $lato-italic;
  color: $light-grey;
  font-style: italic;
}

.text-no-margin {
  margin: 0;
}
