@import "../../../styles/main.scss";

.hero-text-area {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .text-area {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 20%;
    .wrapper {
      display: flex;
      flex-direction: column;
      .cta {
        margin-top: 10px;
      }
    }
    button {
      margin-right: 30px;
    }

    h1 {
      font-family: $work-sans-extra-bold;
      font-size: $size-6;
      color: $dark-grey;
      margin: 0;
      line-height: 37px;
    }
  }
}

.language-section {
  margin-top: 50px;
  display: grid;
  justify-content: center;

  .languages {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 50px;

    img {
      height: 100px;
    }
  }
}
.courses-section {
  margin-top: 50px;

  .courses {
    display: flex;
    justify-content: space-evenly;
  }
}
