@import "./mixins.scss";
@import "./colors.scss";
@import "./fonts.scss";

html {
  box-sizing: border-box;
  // font-size: 12px;
}

body {
  font-family: $lato-regular;
  margin: auto;
  width: 1170px;
  font-size: $size-2;
}

a {
  color: $primary-blue;
  text-decoration: none;
}

.primary-blue {
  color: $primary-blue;
}
